// fonts 
@import url('https://fonts.googleapis.com/css?family=Exo+2|Grenze|Herr+Von+Muellerhoff|Monsieur+La+Doulaise|Press+Start+2P|Tangerine&display=swap');
$handwriting1: 'Herr Von Muellerhoff', cursive;
$handwriting2: 'Tangerine', cursive;
$handwriting3: 'Monsieur La Doulaise', cursive;
$pixelFont: 'Press Start 2P', cursive;
$mainFont: 'Exo 2', sans-serif;
$merchantFont: 'Grenze', serif;

// pallet 1
$p1_grey: #3A332C;
$p1_purpleGrey: #523955;
$p1_darkPurple: #5F216D;
$p1_mainPurple: #C812DD;
$p1_lightPurple: #9A46B6;

//palet 2
$p2_grayPurple: #37335A;
$p2_yellow: #AA9553;
$p2_indigo: #264EC4;
$p2_lightGray: #ABACB8;
$p2_pink: #A66F90;

//palet 3

$p3_1: #FEFCFD;
$p3_2: #BFCDE0;
$p3_3: #5D5D81;
$p3_4: #3B3355;
$p3_5: #000505;